<h1>Books</h1>
<%= link_to 'New', '/books/new', class:'btn btn-primary'%>

<% @books.each do |book| %>
<div class="media">
  <img class="d-flex align-self-end mr-3 book-thumb" src="<%= book.picture_url %>" 
  <div class="media-body">
    <h5 class="mt-0"><%= link_to book.title, "/books/#{book.id}"%></h5>
    <p><%=book.description%></p>
    <p class="mb-0"><%=book.pages%> pgs </p>
    <p><%= link_to 'Amazon',book.amazon_url, class: 'btn-btn default' %>
    <p>Author ID: <%=book.author_id%></p>
    <%= link_to 'Edit', "/books/#{book.id}/edit", class: 'btn-btn default' %>
</div>
<% end %>